#wrapper{
	position:relative;
	z-index:1;
	width:100%;
	height:auto;
	overflow:hidden;
	margin:auto;
	
}
#header{
	
	width: 100%;
	height: 32px;
	position: fixed;

	z-index: 999;
	background-color: #000;
}
.leftheader{
	margin:auto;
	float:left;
	width:auto;
	height:100%;
	/* background:green; */
	margin-left:50px;
}
.leftheader ul{
	width:100%;
	height:100%;

}
.leftheader ul li{
	
	
	float:left;
	line-height:32px;
	
	font-size:11px;
	padding-right: 40px;
	/* margin-right:40px; */
	color:#fff;
	/* font-weight:bold; */
}
.leftheader li p{
	width:200px;
	height:100%;
	text-align:center;
	background:#1D1C1C;
	
}
.leftheader ul li a{
	text-decoration:none;
	color:#fff;
	
}
.leftheader ul li a:hover{
	border-bottom:1px solid;
	
}
.rightheader{
	float:right;
	margin-right:50px;
	width:auto;
	height:100%;
}
.rightheader ul{
	width:100%;
	height:100%;
	
}
.rightheader ul li{
	height:100%;
	float:left;
	line-height:32px;
	/* background:#7D516D ; */
	font-size:11px;
	
	
	color:#fff;
	/* font-weight:bold; */
}

.rightheader ul li a{
	text-decoration:none;
	color:#fff;
	padding: 0 15px 0 45px;
}
.creat{
	background:#7D516D ;
}
.log {
	
	background:#ccc;
}
.rightheader ul .log a{color:#000;}
#navbar{
	position:relative;
	z-index:2;
	width: 984px;
	height: 60px;
	background:#fff;
	margin:auto;
	
	margin-top:60px;
	
}
.logo1{
	position:absolute;
	z-index:2;
	/* float:left; */
	width:208px;
	height:46px;
	/* background:gray; */
	padding:13px 0 0 0;
	
}
.logo1 img{
	width:100%;
	height:100%;
}
.nav{
	position:absolute;
	z-index:2;
	left:250px;
}
.nav ul{
	
}
.nav ul li{
	float:left;
	margin:37 0 0 35px;
	/* line-height:85px; */
	text-align:center;
}
	.nav ul li a{
		text-decoration:none;
		font-size:11px;
		font-family:arial;
		color:#000;
		border-bottom:3px solid #fff;
		padding:8px 6px;
		transition: all 0.4s ease 0s;
	}
	.nav ul li a:hover{
		color:#E51;
		font-weight:bold;
		border-bottom:3px solid #000;
		transition: color 5s;
	}
	.language{
		position:absolute;
		z-index:4;
		right:0;
		top: 0px;
		
		width:80%;
		height:20px;
	}
	.language ul{
		margin-left:640px;
	}
	.language ul li{
		float:left;
		
		
		
	}
	.language ul li a{
		padding:0 5px 0 5px;
		display:block;
		font-size:11px;
		text-decoration:none;
		border-right:1px solid;
		color:#000;
	}
	
	.language ul li a:hover{
		
		border-bottom:1px solid;
		
	}
	.logo2{
		position:absolute;
		z-index:2;
		left:848px;
		top:15px;
		/* float:right; */
		width:136px;
		height:44px;
	}
	.logo2 img{
		width:100%;
		height:100%;
	}
	/* .logotext{
		width:300px;
		height:300px;
		position:absolute;
		z-index:5;
		background:gray;
	} */
	
	#slideshow{
		margin:auto;
		width: 1200px;
		height: 450px;
		position:relative;
		z-index:4;
		top:2px;
		background:#E51;
	}
	#slideshow img{
		position:absolute;
		z-index:4;
		width:100%;
		height:100%;
	}
	#slideshow h5{
		position:absolute;
		z-index:5;
		left: 465px;
		top:5px;
		font-size:10px;
		font-family:tahoma;
		color:#fff;
		text-transform:uppercase;
		letter-spacing:2px;
	}
	#slideshow form{
		margin:auto;
		width:900px;
		height:80px;
		background:#000;
		position:relative;
		z-index:4;
		top:20px;
	}
	#slideshow .choose{
		float:left;
		width:85px;
		height:50px;
		background:#fff;
		padding:30px 5px 0;
		text-align:center;
	}
	#slideshow form a{
		
		text-decoration:none;
		color:#000;
		font-family:tahoma;
		font-size:11px;
		font-weight:bold;
		font-family:arial;
	}
	.field{
		float:left;
		position:static;
		z-index:4;
		
		margin:10px 20px 0 15px;
		width:150px;
		height:100%;
		}
		.lasttowfield{
			width:100px;
			height:100%;
		}
.field .lable{
		width:90%;
		height:20px;
		color:#fff;
		text-transform:uppercase;
		line-height:20px;
		margin-left:10px;
		font-size:12px;
		font-family:arial;
		letter-spacing:1px;
		

	}

.field input{
	width:100%;
	height:30px;
	border:1px solid #666;
	margin:2px 0 0 3px;
	background:#000;
	color:#fff;
	
	outline-color:#7D516D;
	padding: 8px 15px;
}
 .search{
	position: relative;
	z-index: 4;
	top: 15px;
	float: right;
	/* margin: 28px 100px 0 0; */
	width: 266px;
	height: 50px;
}

.search input[type="submit"]{
	position: absolute;
	z-index: 4;
	background: #7D516D;
	color:#fff;
	width: 100px;
	height: 100%;
	border:none;
	outline:none;
	/* float: left; */
	/* margin: auto; */
	transition:color 2s;
}
.search input[type="submit"]:hover{
	background:#50053A;
	transition:all 2s ease 0s;
}
.search ul{
	position: absolute;
	z-index: 4;
	/* margin-left: 100px; */
	/* right: 8px; */
	left: 115px;
	top: 10px;
	
}
.search ul li{

}
 .search ul li a {
	/* display:block; */
	text-decoration:none;
	color: #BFBFBF;
	font-family:arial;
	font-size:11px;
		
}
.search ul li a:hover{
	border-bottom:1px solid;
	
	
}
.welcome{
	position:absolute;
	z-index:4;
	left: 400px;
	top: 211px;
	width:400px;
	height:200px;
	/* background:gray; */
	text-align:center;
}

.welcome h2{
	font-size:30px;
	font-family:georgia;
	color:#fff;
}
.welcome p{
	font-size:14px;
	font-family:arial;
	color:#fff;
	padding:13px 0px;
}
.welcome input{
	background: #7D516D;
	color:#fff;
	font-size:18px;
	font-family:georgia;
	font-weight:bold;
    border:none;
	width:135px;
	height:30px;
	outline:none;
	transition:color 2s;
}
.welcome input[type="submit"]:hover{
	background:#510A37;
	transition: all 2s ease 0s;
}
#content{
	position:relative;
	z-index:2;
	width: 1200px;
	/*height: 680px;*/
	height: 720px;
	background:#E6E6E6;
	margin:10px auto;
	padding:25px 0px;
}
 .headline{
	width:900px;
	height:85px;
	background:#fff;
	margin:0px auto;
}
.headline h5{
	text-align:center;
	border-bottom:1px solid #E6E6E6;
	font-size:10px;
	font-family:arial;
	color: #333;
	letter-spacing:2px;
	text-transform:uppercase;
}
.headline ul{
	
}
.headline ul li{
	float:left;
	list-style:none;
	font-family:arial;
	font-size:11px;
	color:#666;
	text-transform:uppercase;
	margin:17px 0px 0px 50px;
}
.headline ul li a{
	display:block;
	text-decoration:none;
	font-size:12px;
	font-family:arial;
	color:#666;
	padding: 0 0 0 40px;
}
 li.callus{
	border-left:1px solid #CCC;
}
li.callus p{
	font-size:18px;
}
.view{
	position:relative;
	z-index:3;
	width:900px;
	height:573px;
	background:#E6E6E6;
	/*margin:25px auto;*/
	margin: 10px 0px 0 150px;
}
/*width: 567px;
height: 559px;*/
.leftview{
	position:relative;
	z-index:4;
	float:left;
	width:580px;
	height:100%;
	/*background:#fff;*/
	background: #BAAAEB;
	
}
.leftview video{
	position:relative;
	/*z-index:4;*/
	z-index:6;
	margin:15px 0 0 15px;
	width:550px;
	height:542px;
}

.leftview img{
	position:relative;
	z-index:4;
	
	margin:15px 0 0 15px;
	width:550px;
	height:542px;
}
.v{
	position:absolute;
	z-index:5;
	left:100px;
	text-transform:uppercase;
	
}
.v h6{
	font-size:24px;
	font-family:arial;
	font-style:italic;
	color: #fff;
	
	letter-spacing:2px;
	margin: 0px 0px 45px 0px;
}
.rightview{
	position:relative;
	z-index:4;
	float:right;
	width:300px;
	height:100%;
	background:#fff;
}
.menutitle{
	width:100%;
	height:50px;
	text-align:center;
	font-family:arial;
	font-style:italic;
	color: #000;
	text-transform:uppercase;
	letter-spacing:3px;
	margin:30px 0 0 0;
}
.menutitle h6{
	font-size:20px;
	
}
.menutitle p{
	font-size:12px;
	margin:4px 0 0 0;
}
.box {
	width:270px;
	height:90px;
	margin:15px 0 5px 15px;
}
.box img{
	float:left;
	width:120px;
	height:100%;
	padding:0 15px 0 0;
}
.box ul{
	
	position:absolute;
	z-index:5;
	left:145px;
	margin: -20px 0 0 0;
	
}
.box ul li h2{
	font-size:16px;
	font-family:georgia;
	font-weight:bold;
	padding:0 0 0 0;
}
.box ul li {
	font-size:11px;
	margin:3px 0 3px 0;
	list-style:none;
	/* display:inline; */
	
}
.box ul li a{
	
	text-decoration:none;
	color:#333;
	transition:color 2s;
	
}
.box ul li a:hover{
	
	/* color:#14E716; */
	color:#ccc;
}
.book ul li.book{
	margin:7px 0 0 0;
}
.box ul li input{
	margin: 7px 0 0 0;
	background: #7D516D;
	width: 70px;
	height: 25px;
	border: none;
	color: #fff;
	font-family: georgia;
	outline:none;
	transition:color 2s;
}
.box input/* [type="submit"] */:hover{
	background:#510A37;
	transition:all ease 2s 0;
}
.box .watch{
	margin: 7px 0 0 0;
	background: #7D516D;
	width: 70px;
	height: 25px;
	border:1px solid #7D516D;
	color: #fff;
	font-family: georgia;
	line-height:25px;
	transition:color 2s;
}
.box .watch:hover{
	background:#510A37;
	transition:all ease 2s 0;
}
.menubottom{
	margin:20px 0 5px 15px;
}
.menubottom p{
	font-size:11px;
	font-family:arial;
	padding:20px 0px 0 10px;
}
.menubottom p a{
	text-decoration:none;
	color: #666;
}
.menubottom p a:hover{
	border-bottom:1px solid;
}
#container{
	position:relative;
	z-index:2;
	width:1200px;
	height:500px;
	overflow:hidden;	
	margin:10px auto;
	/* background:#E6E6E6; */

	/* padding:25px 0px; */
}
#container a{
	text-decoration:none;
	width:100%;
	height:100%;
}

.discover{
	/* position:absolute;
	z-index:3; */
	
	margin-top: 150px;
	width:100%;
	height:100%;
	text-align:center;
	margin-bottom: 10px;
}
.discover h2{
	font-size:50px;
	font-family:arial;
	font-style:italic;
	color:#FFFCFC;
	letter-spacing:2px;
	text-transform:uppercase;
	transition:color 5s;
	
}
.discover h2:hover{
	color:#333;
	
}

.discover p{
	font-size:14px;
	font-family:arial;
	color:#F8F4F4;
	padding:13px 0px;
	transition:color 5s;
}
.discover p:hover{
	color:#333;
}
.discover input{
	background: #FFF;
	color:#333;
	font-size:18px;
	font-family:georgia;
	font-weight:bold;
    border:none;
	width:135px;
	height:50px;
	outline:none;
	transition:color 2s;
	margin:20px 0px 0 0;
}
.discover input[type="submit"]:hover{
	background:#666;
	transition: all 2s ease 0s;
}
#options{
	position:relative;
	z-index:2;
	/* top:510px; */
	width:1200px;
	height:340px;
	margin:10px auto;
	background:#E6E6E6;
	
}
.op{
	float:left;
	width:28.33%;
	height:300px;
	position:relative;
	z-index:3;
	top:20px;
	left:60px;
	margin:0 30px 0 0;
	/* position:absolute;
	z-index:3; */
	/* margin-top:20px;
	margin-left:40px; */
	background:#fff;
}
.signup{
	float:right;
	margin:0 120px 0 0;
}
.op h2{
	font-size:30px;
	font-family:georgia;
	/* font-style:italic; */
	font-weight:bold;
	color:#333;
	text-align:center;
	padding:30px 0px;
}
 .op p{
	font-size:12px;
	font-family:arial;
	color:#333;
	padding:0px 5px;
	
}

.op input{
	background: #333;
	color:#fff;
	font-size:18px;
	font-family:georgia;
	font-weight:bold;
    border:none;
	width:110px;
	height:35px;
	outline:none;
	transition:color 2s;
	margin:75px 0px 0 100px;
}
.join input{
	width:70px;
}

.signup input{
	width:120px;
	padding: 0 0 0 20px;
}
.op input[type="submit"]:hover{
	background:#666;
	transition: all 2s ease 0s;
} 
.logo3{
	width:227px;
	height:47px;
	position: absolute;
	z-index: 3;
	left: 55px;
}
.logo3 img{
	width:100%;
	height:100%;
}
#footer{
	position:relative;
	z-index:2;
	width:1200px;
	height:500px;
	overflow:hidden;
	margin:10px auto;
	background:#333;
	
}
#menulist{
	width:900px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	/* background:gray; */
	padding:40px 0px 25px;
}
.list{
	float:left;
	width:147px;
	height:auto;
	
	margin:0 36px;
	/* background:#c3c3c3; */
}
.rightlist{
	width:170px;
}
.list h2{
	font-size:12px;
	font-family:arial;	
	color: #A2A2A2;	
	text-transform:uppercase;
	border-bottom:1px solid #5D5D5D;
	padding:0 0 10px 0;
	display:block;
	
}
.list ul{
	
}
.list ul li{
	padding:2px 0;
}
.list ul li a{
	text-decoration:none;
	font-size:12px;
	font-family:arial;	
	color: #A2A2A2;
}
.list ul li a:hover{
	color:#ccc;
}
.horizentallist{
	width:900px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	/* background:gray; */
	position:relative;
	z-index:3;
}
.horizentallist h2 {
	text-align:center;
}
.horizentallist h2 a{
	
	text-decoration:none;
	
	font-size:12px;
	font-family:arial;	
	color: #fff;
}
.hlist{
	margin:10px 0 0 45px;
}


.hlist ul  {
	margin:0 10 0 0;
	
}
.hlist ul li {
	display:inline;
	
}
.hlist ul li  a{
	text-decoration:none;
	padding-right:12px;
	margin-right:12px;
	border-right:1px solid #5D5D5D;
	font-size:12px;
	font-family:arial;	
	color: #fff;
	text-transform:uppercase;
}
.hlist ul li  p{
	position:relative;
	z-index:3;
	float:right;
	display:inline-block;
	font-size:5px;
	margin: -4px 100px 0px 0;
}

.logo4{
	position:absolute;
	z-index:4;
	right: 5px;
	top: 10px;
	width:100px;
	height:20px;
}
.logo4 img{
	width:100%;
	height:100%;
}
